[Unit]
Description=Droonga Engine

[Service]
User=droonga-engine
ExecStart=/usr/local/bin/droonga-engine
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
WorkingDirectory=/home/droonga-engine/droonga

[Install]
WantedBy=multi-user.target
